
.charts {
  flex: 0 0 auto;
  width: 850px;
}

.chart {
  margin: 10px;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px 0 #ddd;
}

.stale {
  background-color: #ffbbbb;
  box-shadow: 0 0 8px 0 #e01b2d;
  border-color: #e01b2d;
}

.chart .chart--5080 {
  height: 500px;
  width: 800px;
}

.chart .chart--3080 {
  height: 300px;
  width: 800px;
}

.chart__title {
  text-align: center;
  font-weight: 300;
  margin-top: 8px;
}

.chart__value {
  text-align: center;
  font-size: xx-large;
}

.single-indicator-container {
  display: flex;
  flex-direction: row;
}

.single-indicator-container .chart {
  flex: 1 1 25%;
}

.chart-filters {
  margin-top: auto;
  margin-bottom: auto;
}

.chart-filters.hidden {
  visibility: hidden;
}

.chart-filter label{
  margin: 10px 5px;
  float: left;
}

#charts-last-update {
  float: right;
  margin: -17px 11px;
}
