#project-selector {
    margin: auto;
}

#project-selector select,
.period-filter {
    margin: 4px 10px;
    display: flex;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}

 #project-selector.hidden {
    visibility: hidden;
}

.driver-metrics-selector.dropdown-checkbox {
    position:relative;
    display:inline-block;
    padding-bottom: 5px;
    margin-left: 7px;
  }

  .driver-metrics-selector.dropdown-checkbox .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0px 27px 0px 2px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
  }

  .driver-metrics-selector.dropdown-checkbox .anchor:after {
    position: absolute;
    content: "";
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 4px;
    right: 12px;
    top: 12%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .driver-metrics-selector.dropdown-checkbox ul {
      position: absolute;
      background: #ffffff;
      list-style: none;
      margin: 0px;
      padding:0px;
      left:0px;
      display:none;
      z-index:1;
      border: 1px solid #cecccc;
  }

  .driver-metrics-selector.dropdown-checkbox ul li {
      font-size: 15px;
      padding-right: 2px;
      border-bottom: 1px solid #cecccc;
      margin: 0px;
      white-space: nowrap;
  }

  .driver-metrics-selector.dropdown-checkbox ul li input {
    margin-right:5px;
  }

  .driver-metrics-selector.dropdown-checkbox:hover ul {
    display:block
  }
